
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "AdminLayout")
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        @Html.Action("PartialSidebar","AdminLayout")
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!--  Header -->
                    @Html.Action("PartialLogo", "AdminLayout")
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                </div>
                @Html.Action("PartialNavbar","AdminLayout")
            <!-- End Navbar -->
        </div>

        <div class="container">
            <div class="page-inner">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                    <div>
                        <h3 class="fw-bold mb-3">Anasayfa</h3>
                        <h6 class="op-7 mb-2">Geyik Kafe Kontrol Paneli</h6>
                    </div>
                    <div class="ms-md-auto py-2 py-md-0">
                        <a href="#" class="btn btn-label-info btn-round me-2">Manage</a>
                        <a href="#" class="btn btn-primary btn-round">Add Customer</a>
                    </div>
                </div>
          
                <!--Bu alana gelicekk ekleme-->

            </div>
        </div>
        
        <!-- Start footer -->
        @Html.Action("PartialFooter", "AdminLayout")
    </div>

  
    </div>
    @Html.Action("PartialJS", "AdminLayout")
</body>
</html>
